altgraph==0.17.4
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==5.0.0
fuzzywuzzy==0.18.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
Levenshtein==0.26.0
MarkupSafe==3.0.1
numpy==2.1.2
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pefile==2024.8.26
playsound==1.2.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pystyle==2.9
python-dateutil==2.9.0.post0
python-Levenshtein==0.26.0
pytz==2024.2
pywin32-ctypes==0.2.3
RapidFuzz==3.10.0
requests==2.32.3
setuptools==75.1.0
six==1.16.0
termcolor==2.5.0
tk==0.1.0
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.4
wheel==0.44.0
